.Goatse {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .Goatse__img {
        object-fit: contain;
        height: 300px;
    }
}